{
    server: {
        id: server,
        protocol: 'https',
        host: 'example.com',
        port: 80,
        portText: port === 80 ? '' : ':' + port,
        url: `${protocol}://${host}${portText}/`
    },
    database: {
        id: db,
        mongo: {
            url: `mongodb://user:pass@db.${server.host}`
        },
        redis: {
            url: `redis://redis.${server.host}`,
            options: {
                timeout: 30
            }
        }
    },
    stores: $import('stores.config')
}
